.fContainer {
	margin-top: 4em;
	margin-bottom: 5em;
}

.btn-addEvento a {
	text-decoration: none;
	color: white;
}

.footer {
	padding: 1em;
	color: white;
	bottom: 0;
}

.linkTable {
	text-decoration: none;
}