<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- css -->
<link rel="stylesheet" href="style/css/css.css" type="text/css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
	type="text/css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Evento Demo App</title>
</head>
<body>
	<div class="flex-container">
		<!-- navbar -->
		<div class="my-nav">
			<a class="navbar-brand" href="/">Evento Demo App</a>
		</div>
		<!-- container -->
		<div class="my-container">
			<div class="container">
				<!-- listar eventos -->
				<h2>Lista de Eventos</h2>
				<table class="table">
					<thead>
						<th>Nome</th>
						<th>Local</th>
						<th>Data</th>
						<th>Horário</th>
						<th>Deletar</th>
					</thead>
					<tbody>
						<tr th:each="evento : ${eventos}">
							<td><a style="text-decoration: none;"
								th:href="${(#mvc.url('EC#getDetailsEvento').arg(0, evento.id).build())}"><span
									class="linkTable" th:text="${evento.nome}"></span></a></td>
							<td><span th:text="${evento.local}"></span></td>
							<td><span th:text="${evento.data}"></span></td>
							<td><span th:text="${evento.horario}"></span></td>
							<td class="del-link"><a
								th:href="${(#mvc.url('EC#delEvento').arg(0, evento.id).build())}"><i
									class="fas fa-trash" title="Remover Evento"></i></a></td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<a class="btn btn-primary" href="/addEvento"> <i class="fas fa-plus"></i> Cadastrar
						Evento
					</a>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="my-footer">
			<a href="https://github.com/cleefsouza/evento-demoApp"><i
				class="fab fa-github"></i> Github</a> <a
				href="https://www.linkedin.com/in/aryosvalldo-cleef/"><i
				class="fab fa-linkedin-in"></i> Aryosvalldo Cleef de Souza</a> <a
				href="https://www.instagram.com/cleefsouza/"><i
				class="fab fa-instagram"></i> Siga-me</a>
		</div>
	</div>
</body>
</html>