<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cadastrar Evento</title>
</head>
<body>
	<h3>Cadastrar Evento</h3>
	<form method="post">
		<label>Nome:</label>
		<input type="text" name="nome" value="">
		<label>Local:</label>
		<input type="text" name="local" value="">
		<label>Data:</label>
		<input type="date" name="data" value="">
		<label>Horário:</label>
		<input type="text" name="horario" value="">
		<button type="submit">Salvar</button>
	</form>
</body>
</html>