<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- css -->
<link rel="stylesheet" href="style/css/css.css" type="text/css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
	type="text/css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Evento Demo App</title>
</head>
<body>
	<div class="grid-container">
		<!-- navbar -->
		<section class="item1 my-nav">
			<a class="navbar-brand" href="/">Evento Demo App</a>
		</section>
		<!-- container -->
		<section class="item2 my-container container-center">
			<!-- adicionar evento -->
			<div class="container">
				<h2>Cadastrar Evento</h2>
				<!-- inclui a mensagem -->
				<th:block th:include="msgValidation.html" />
				<form method="post">
					<div class="row">
						<div class="col-md-12 form-group">
							<label class="control-label">Nome:</label> <input
								class="form-control" type="text" name="nome" value="" required
								oninvalid="setCustomValidity('Campo obrigatório!')"
								oninput="setCustomValidity('')">
						</div>
						<div class="col-md-6 form-group">
							<label class="control-label">Local:</label> <input
								class="form-control" type="text" name="local" value="" required
								oninvalid="setCustomValidity('Campo obrigatório!')"
								oninput="setCustomValidity('')">
						</div>
						<div class="col-md-3 form-group">
							<label class="control-label">Data:</label> <input
								class="form-control" type="date" name="data" value="" required
								oninvalid="setCustomValidity('Campo obrigatório!')"
								oninput="setCustomValidity('')">
						</div>
						<div class="col-md-3 form-group">
							<label class="control-label">Horário:</label> <input
								class="form-control" type="time" name="horario" value=""
								required oninvalid="setCustomValidity('Campo obrigatório!')"
								oninput="setCustomValidity('')">
						</div>
						<div class="col-md-2 form-group">
							<button class="btn btn-success btn-block" type="submit">
								<i class="fas fa-check"></i> Salvar
							</button>
						</div>
						<div class="col-md-2 form-group">
							<a class="btn btn-danger btn-block" href="/eventos"><i
								class="fas fa-angle-left"></i> Voltar</a>
						</div>
					</div>
				</form>
			</div>
		</section>
		<!-- footer -->
		<section class="item3 my-footer">
			<a href="https://github.com/cleefsouza/evento-demoApp"><i
				class="fab fa-github"></i> Github</a> <a
				href="https://www.linkedin.com/in/aryosvalldo-cleef/"><i
				class="fab fa-linkedin-in"></i> Aryosvalldo Cleef de Souza</a> <a
				href="https://www.instagram.com/cleefsouza/"><i
				class="fab fa-instagram"></i> Siga-me</a>
		</section>
	</div>
</body>
</html>