<!DOCTYPE html>
<html>
<head>
<!-- meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- css -->
<link rel="stylesheet" href="style/css/css.css" type="text/css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
	type="text/css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Evento Demo App</title>
</head>
<body>
	<div class="grid-container">
		<!-- navbar -->
		<section class="item1 my-nav">
			<a class="navbar-brand" href="/">Evento Demo App</a>
		</section>
		<!-- container -->
		<section class="item2 my-container">
			<div class="container">
				<div class="jumbotron text-center">
					<h1>Evento Demo App</h1>
					<p>Está é uma aplicação simples para cadastro de eventos, com o
						intuito de demonstrar um pouco do meu conhecimento no
						desenvolvimento de aplicações web com Java e Spring Boot.</p>
					<a class="btn btn-lg btn-success" href="/eventos" role="button"><i
						class="fas fa-play-circle"></i> Start Demo App</a>
				</div>
			</div>
		</section>
		<!-- footer -->
		<div class="item3 my-footer">
			<a href="https://github.com/cleefsouza/evento-demoApp"><i
				class="fab fa-github"></i> Github</a> <a
				href="https://www.linkedin.com/in/aryosvalldo-cleef/"><i
				class="fab fa-linkedin-in"></i> Aryosvalldo Cleef de Souza</a> <a
				href="https://www.instagram.com/cleefsouza/"><i
				class="fab fa-instagram"></i> Siga-me</a>
		</section>
	</div>
</body>
</html>